
@font-face{
    font-family: myFont;
    src:url(Greek-Freak.ttf)
}
/* 
.container{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,50,0.8),(0,0,50,0.8)), url(login.png);
    background-position: center;
    background-size: cover;
    position: relative;
} */